* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
  background-color: rgb(214, 212, 212);
}
header {
  background-color: rgb(75, 73, 73);
  width: auto;
  height: 60px;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}
p {
  font-size: 30px;
  margin-top: 20px;
  text-decoration: underline;
}
label {
  margin: auto 0;
}
form {
  border: 3px solid rgb(11, 11, 11);
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  background-color: rgb(100, 111, 93);
  
}
.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}
input {
  margin: 5px;
  border: 1px black solid;
}
.chooseOne {
  color: pink;
}

